@charset "UTF-8";
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
  font-family: 'system-ui', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.preloader, .infoStart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000000000000;
}

.preloaderTxtCont {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  text-align: center;
}

.prelTxt {
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #00a1b7;
  background-color: #252525;
}

.prelImg {
  display: block;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 200px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #00a1b7;
}

.prelImg > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 1%;
  height: 100%;
  background-color: #00a1b7;
  animation: fillPreloader 5s linear;
  -webkit-animation: fillPreloader 5s linear;
}

.chooseLang {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.9s all ease-in-out;
  -webkit-transition: 0.9s all ease-in-out;
  -moz-transition: 0.9s all ease-in-out;
  -ms-transition: 0.9s all ease-in-out;
  -o-transition: 0.9s all ease-in-out;
  z-index: 99996;
  opacity: 0;
}

.chooseLangJS {
  opacity: 1;
}

.borderLng {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.flag {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 480px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #252525;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  filter: opacity(0.4);
  -webkit-filter: opacity(0.4);
  border-radius: 20px;
  background-attachment: initial;
  border: 2px solid #00a1b7;
}

.flagJS1 {
  background-image: url(../img/startPage/wallpaper_1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-attachment: initial;
}

.flagJS2 {
  background-image: url(../img/startPage/wallpaper_2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-attachment: initial;
}

.lng {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding: 10px 30px;
  margin: 20px 0;
  width: max-content;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  filter: drop-shadow(2px 4px 6px black);
  -webkit-filter: drop-shadow(2px 4px 6px black);
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.lng:hover {
  color: #00a1b7;
}

.lngsp {
  font-size: 24px;
  color: #00a1b7;
  cursor: default;
  display: block;
  margin-bottom: 50px;
}

.infoStart {
  z-index: 99995;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.infoBut {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding: 30px;
  transition: 1s all ease-in-out;
  -webkit-transition: 1s all ease-in-out;
  -moz-transition: 1s all ease-in-out;
  -ms-transition: 1s all ease-in-out;
  -o-transition: 1s all ease-in-out;
  border: 1px solid #00a1b7;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 15px;
  color: white;
  background-color: #212121;
  opacity: 0;
  box-sizing: border-box;
}

.infoButJS {
  opacity: 1;
}

.infoBut > .meTxtPoints:hover {
  background-color: white;
}

.meTxtPoints > a {
  text-decoration-line: none;
  color: black;
}

.closeInfoStartTxt {
  width: max-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 30px;
  background-color: #00a1b7;
  color: black;
  cursor: pointer;
}

.closeInfoStartTxt:hover {
  background-color: greenyellow;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  min-width: 260px;
  z-index: 100;
  border-bottom: 1px solid #00a1b7;
  background-color: #252525;
}

.naglowek {
  height: 100%;
}

.naglowek:hover .logo {
  color: #00a1b7;
}

.menuKontener {
  position: relative;
  top: 50%;
  width: max-content;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding-top: 15px;
  overflow: hidden;
}

.menuPunkty {
  padding: 10px;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  display: inline;
  cursor: pointer;
  color: #969696;
  letter-spacing: 1px;
}

.colorMenuPunkty {
  color: #00a1b7;
}

.tagMenu {
  position: relative;
  width: 0;
  height: 3px;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #00a1b7;
  margin-top: 10px;
}

.logo {
  position: absolute;
  top: 50%;
  right: 40px;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 60px;
  color: #6f6f6f;
  cursor: default;
}

.logo > div:nth-child(1) {
  position: relative;
  left: 16px;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  filter: drop-shadow(2px 4px 6px black);
  -webkit-filter: drop-shadow(2px 4px 6px black);
  display: inline-block;
}

.logo > div:nth-child(2) {
  display: inline-block;
  filter: drop-shadow(2px 4px 6px black);
  -webkit-filter: drop-shadow(2px 4px 6px black);
}

.copyRigths {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 12px 0 0 0;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  opacity: 1;
  z-index: 100;
  color: #969696;
  font-size: 14px;
  letter-spacing: 1px;
  box-sizing: border-box;
  border-top: 1px solid #00a1b7;
  background-color: #252525;
}

.social {
  position: absolute;
  top: -78px;
  right: 0;
  width: max-content;
  padding: 10px;
  transition: 0.1s all ease-in-out;
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  -ms-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  background-color: #252525;
  border-top: 1px solid #00a1b7;
}

.social a {
  display: block;
}

.social:hover {
  background-color: black;
}

.social a img {
  width: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.1s all ease-in-out;
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  -ms-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
}

.social a img:hover {
  box-shadow: 0 0 0 1px white;
}

.me {
  position: absolute;
  top: -1px;
  left: -84px;
  height: 100%;
  border-top: 1px solid #00a1b7;
  border-left: 1px solid #00a1b7;
}

.wall {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: grayscale(1) brightness(0.6);
  -webkit-filter: grayscale(1) brightness(0.6);
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}

@keyframes fillPreloader {
  100% {
    width: 100%;
  }
}

.allPagesBox {
  position: relative;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
}

.Page {
  position: relative;
  top: 0;
  width: 100%;
  height: calc( 100% - 50px);
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  display: inline-block;
  overflow: hidden;
}

.One {
  z-index: 10;
}

.wallOne {
  background-image: url(../img/wallpapers/wallpaper_1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.nameLewSloganKodBox {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}

.helloBox {
  position: absolute;
  top: 50px;
  left: 30%;
  width: max-content;
  height: auto;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  padding: 5px 25px;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  filter: drop-shadow(2px 4px 6px black);
  -webkit-filter: drop-shadow(2px 4px 6px black);
  text-align: center;
}

.helloLetter {
  width: max-content;
  height: max-content;
  position: relative;
  right: -200px;
  margin: 0px 35px;
  transition: 0.9s all ease-in-out;
  -webkit-transition: 0.9s all ease-in-out;
  -moz-transition: 0.9s all ease-in-out;
  -ms-transition: 0.9s all ease-in-out;
  -o-transition: 0.9s all ease-in-out;
  display: inline-block;
  box-sizing: border-box;
  font-size: 0px;
  text-align: center;
  opacity: 0;
}

.helloLetterJS1 {
  right: 0px;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  font-size: 85px;
  color: white;
  opacity: .5;
}

.helloLetterJS2 {
  margin: 0px 3px;
  left: 0;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  color: #00a1b7;
  opacity: 1;
}

.nameLewandowskiBox {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: max-content;
  height: max-content;
  padding: 5px 25px;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  filter: drop-shadow(2px 4px 6px black);
  -webkit-filter: drop-shadow(2px 4px 6px black);
  text-align: center;
}

.nameLetter {
  width: max-content;
  height: max-content;
  position: relative;
  top: 70px;
  margin: 0px 35px;
  transition: 0.9s all ease-in-out;
  -webkit-transition: 0.9s all ease-in-out;
  -moz-transition: 0.9s all ease-in-out;
  -ms-transition: 0.9s all ease-in-out;
  -o-transition: 0.9s all ease-in-out;
  display: inline-block;
  box-sizing: border-box;
  font-size: 0px;
  text-align: center;
  opacity: 0;
}

.nameLetterJS1 {
  top: -70px;
  font-size: 55px;
  color: #969696;
  opacity: 0.5;
}

.nameLetterJS2 {
  margin: 0px 3px;
  top: 0;
  color: white;
  opacity: 1;
}

.sloganKodowanieBox {
  position: relative;
  top: 350px;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  padding: 10px 3px 10px 3px;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  filter: drop-shadow(2px 4px 6px black);
  -webkit-filter: drop-shadow(2px 4px 6px black);
}

.sloganKodowanieBoxJS2 {
  opacity: 0;
}

.sloganLetter {
  width: max-content;
  height: max-content;
  position: relative;
  top: -70px;
  margin: 0px 35px;
  transition: 0.9s all ease-in-out;
  -webkit-transition: 0.9s all ease-in-out;
  -moz-transition: 0.9s all ease-in-out;
  -ms-transition: 0.9s all ease-in-out;
  -o-transition: 0.9s all ease-in-out;
  display: inline-block;
  box-sizing: border-box;
  font-size: 0px;
  text-align: center;
  opacity: 0;
}

.sloganLetterJS1 {
  top: 70px;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  font-size: 55px;
  color: white;
  opacity: .5;
}

.sloganLetterJS2 {
  margin: 0px 3px;
  top: 0;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  color: #00a1b7;
  opacity: 1;
}

.helloLetterRefresh, .nameLetterRefresh, .sloganLetterRefresh {
  position: absolute;
  width: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 0 0 20px;
  animation: show 1s 4s linear forwards;
  -webkit-animation: show 1s 4s linear forwards;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  opacity: 0;
  cursor: pointer;
}

.helloLetterRefresh:hover, .nameLetterRefresh:hover, .sloganLetterRefresh:hover {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.moreInfo {
  opacity: 0;
  z-index: 100;
  position: relative;
  top: 450px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: max-content;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px 10px;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  background-color: white;
  border: 1px solid #00a1b7;
  cursor: pointer;
}

.moreInfo:hover {
  background-color: #00a1b7;
}

.moreInfoJS {
  opacity: 1;
}

.meTxtCont {
  position: absolute;
  top: -700px;
  left: 50%;
  width: 700px;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  padding: 15px;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #252525;
  color: #e6e6e6;
  font-size: 14px;
  box-sizing: border-box;
}

.meTxtContJS {
  position: absolute;
  top: 50px;
  left: 50%;
}

.meTxtCont > img {
  position: relative;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #00a1b7;
  margin-right: 10px;
}

.meTxtPoints {
  padding: 1px 6px;
  margin: 0px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #00a1b7;
  display: inline-block;
  color: black;
}

.txtmar {
  padding: 1px 6px;
  margin: 10px 5px;
}

.closeMeInfo {
  position: relative;
  left: 50%;
  display: block;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 2px;
  font-size: 14px;
  background-color: crimson;
  text-align: center;
  cursor: pointer;
}

.closeMeInfo:hover {
  filter: drop-shadow(2px 4px 6px black);
  -webkit-filter: drop-shadow(2px 4px 6px black);
}

.siteOneChildrenJS {
  left: -300px;
  opacity: 0;
  transition: .3s;
}

.marginLetter {
  margin: 0 15px 0 0;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Two {
  position: absolute;
  left: 100%;
  z-index: 0;
}

.pack {
  height: calc(100vh - 150px);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  top: 100px;
}

.wallTwo {
  background-image: url(../img/wallpapers/wallpaper_2_0.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.menuCareerContainer {
  position: absolute;
  top: 100px;
  left: -25px;
  width: 300px;
  height: 300px;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 1;
  background-color: rgba(37, 37, 37, 0.8);
  cursor: pointer;
}

.menuCareerContainerJS {
  left: -275px;
}

.menuCareerPoints {
  position: absolute;
  width: auto;
  padding: 100px;
  transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  -moz-transition: 0.4s all ease-in-out;
  -ms-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 35px;
  color: black;
}

.menuCareerPointsJS {
  padding: 15px;
  color: white;
}

#leftYear {
  top: 15px;
  left: 15px;
}

#topYear {
  top: 15px;
  right: 15px;
}

#rightYear {
  bottom: 15px;
  right: 15px;
}

#bottomYear {
  bottom: 15px;
  left: 15px;
}

.yearsJS {
  color: #00a1b7;
}

.menuCareerIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  display: block;
  box-sizing: border-box;
  background-color: black;
  box-shadow: 0px 0 4px 2px black, 0px 0px 8px 6px #00a1b7;
}

.menuCareerIndicatorJS1 {
  box-shadow: 2px 0 4px 2px black, -8px -8px 12px 6px #00a1b7;
}

.menuCareerIndicatorJS2 {
  box-shadow: 2px 0 4px 2px black, 8px -8px 12px 6px #00a1b7;
}

.menuCareerIndicatorJS3 {
  box-shadow: 2px 0 4px 2px black, 8px 8px 12px 6px #00a1b7;
}

.menuCareerIndicatorJS4 {
  box-shadow: 2px 0 4px 2px black, -8px 8px 12px 6px #00a1b7;
}

.menuCareerInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 180px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  background-color: black;
  box-shadow: 0 0 220px 50px black;
}

.menuCareerInfo::before {
  position: absolute;
  top: 85px;
  left: 50%;
  width: max-content;
  height: max-content;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.6);
  font-weight: lighter;
  font-size: 11px;
  content: "Poruszaj myszką aby nawigować";
}

.menuCareerInfoJS2::before {
  content: "Move the mouse to navigate";
}

.menuCareerInfoJS {
  opacity: 0;
}

.menuCareerMouseAnimation {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 20px;
  height: 25px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 30% 30% 10% 10%;
  -webkit-border-radius: 30% 30% 10% 10%;
  -moz-border-radius: 30% 30% 10% 10%;
  -ms-border-radius: 30% 30% 10% 10%;
  -o-border-radius: 30% 30% 10% 10%;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #00a1b7;
}

.menuCareerMouseAnimationActive {
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  animation: mouseMove 3s ease-in-out infinite;
  -webkit-animation: mouseMove 3s ease-in-out infinite;
}

.menuCareerMouseAnimationActive::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 2px;
  transform: translate(-50%, -200%) rotate(-90deg);
  -webkit-transform: translate(-50%, -200%) rotate(-90deg);
  -moz-transform: translate(-50%, -200%) rotate(-90deg);
  -ms-transform: translate(-50%, -200%) rotate(-90deg);
  -o-transform: translate(-50%, -200%) rotate(-90deg);
  background-color: white;
  content: "";
}

.menuCareerNav {
  position: absolute;
  top: 50%;
  right: -1px;
  padding: 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  border: solid 1px #00a1b7;
  background-color: rgba(37, 37, 37, 0.8);
  font-size: 10px;
  letter-spacing: 1px;
  color: #00a1b7;
}

.menuCareerNav:hover {
  background-color: #00a1b7;
  color: black;
}

.menuCareerNavJS {
  right: -47px;
}

.companyContainer {
  position: relative;
  top: 30px;
  left: 50%;
  width: max-content;
  height: max-content;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  padding: 20px 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.7s all ease-in-out;
  -webkit-transition: 0.7s all ease-in-out;
  -moz-transition: 0.7s all ease-in-out;
  -ms-transition: 0.7s all ease-in-out;
  -o-transition: 0.7s all ease-in-out;
  display: block;
  opacity: 0;
  box-sizing: border-box;
  background-color: rgba(37, 37, 37, 0.8);
  font-size: 70px;
  text-align: 5px;
}

.companyContainerJS2 {
  top: 100px;
  opacity: 1;
}

.companyName {
  position: relative;
  color: transparent;
}

.companyNameLettersJS1 {
  position: relative;
  top: -50px;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  opacity: 0;
}

.companyNameLettersJS2 {
  position: relative;
  top: 50px;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  opacity: 0;
}

.companyNameLettersJS3 {
  top: 0;
  margin: 2px;
  color: #00a1b7;
  opacity: 1;
}

.companyPosition {
  position: relative;
  color: transparent;
  font-size: 25px;
}

.companyPositionLettersJS1 {
  position: relative;
  left: 0;
  margin: 2px;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  opacity: 0;
}

.companyPositionLettersJS3 {
  opacity: 1;
  color: #969696;
}

.companyYears {
  position: relative;
  color: transparent;
  font-size: 25px;
}

.companyYearsLettersJS1 {
  position: relative;
  left: 2px;
  margin: 4px;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  opacity: 0;
}

.companyYearsLettersJS3 {
  opacity: 1;
  color: #969696;
}

.careerLikeIndicatorConatainer {
  position: relative;
  top: 100px;
  left: 50%;
  width: max-content;
  height: max-content;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  padding: 20px 35px;
  transition: 0.7s all ease-in-out;
  -webkit-transition: 0.7s all ease-in-out;
  -moz-transition: 0.7s all ease-in-out;
  -ms-transition: 0.7s all ease-in-out;
  -o-transition: 0.7s all ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: block;
  opacity: 0;
  box-sizing: border-box;
  background-color: rgba(37, 37, 37, 0.8);
  color: #00a1b7;
  font-size: 30px;
  text-align: 5px;
}

.careerLikeIndicatorConatainerJS1 {
  top: 150px;
  opacity: 1;
}

.careerLikeStarsContainer {
  position: relative;
  width: max-content;
  height: max-content;
  padding: 10px 0;
  margin: 20px 0 0 0;
}

.careerLikeStars {
  position: relative;
  width: 50px;
  height: 50px;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  display: inline-block;
  background-color: #969696;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.careerLikeStarsJS1 {
  background-color: crimson;
}

.dutiesButton {
  position: relative;
  top: 150px;
  left: 50%;
  width: max-content;
  height: max-content;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  padding: 10px 15px;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  opacity: 0;
  background-color: rgba(37, 37, 37, 0.8);
  color: #00a1b7;
  font-size: 30px;
  cursor: pointer;
}

.dutiesButtonJS1 {
  top: 200px;
  opacity: 1;
  animation: menuSkillShadow linear 3s infinite;
  -webkit-animation: menuSkillShadow linear 3s infinite;
}

.dutiesButton:hover {
  background-color: black;
}

.dutiesContainer {
  position: relative;
  top: -1150px;
  left: 50%;
  width: max-content;
  height: max-content;
  transition: 0.7s all ease-in-out;
  -webkit-transition: 0.7s all ease-in-out;
  -moz-transition: 0.7s all ease-in-out;
  -ms-transition: 0.7s all ease-in-out;
  -o-transition: 0.7s all ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 15px 35px 25px 35px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 2;
  opacity: 0;
  display: block;
  cursor: pointer;
  background-color: rgba(37, 37, 37, 0.8);
}

.dutiesContainerJS1 {
  top: -350px;
  opacity: 1;
}

.dutiesClose {
  position: absolute;
  top: -45px;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 6px 10px;
  margin: 30px 0 10px 0;
  background-color: black;
  color: crimson;
  text-align: center;
}

.dutiesClose:hover {
  color: #f54438;
}

.dutiesBoxesJS1 {
  position: relative;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  padding: 10px 35px;
  margin: 25px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #00a1b7;
  color: white;
}

.dutiesBoxesJS1:hover {
  background-color: #00a1b7;
}

@keyframes mouseMove {
  from {
    height: 25px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  25% {
    height: 33px;
    width: 22px;
  }
  50% {
    box-shadow: 0 0 4px 1px #00a1b7;
    height: 25px;
    width: 20px;
    transform: translate(-50%, -200%);
    -webkit-transform: translate(-50%, -200%);
    -moz-transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    -o-transform: translate(-50%, -200%);
  }
  75% {
    height: 33px;
    width: 22px;
  }
  to {
    height: 25px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
}

.siteChildrenJS {
  top: -100px;
  opacity: 0;
  transition: .5s;
}

.Three {
  position: absolute;
  left: 200%;
  z-index: 4;
}

.wallThree {
  background-image: url(../img/wallpapers/wallpaper_4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.skillsMainText {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -65%);
  -webkit-transform: translate(-50%, -65%);
  -moz-transform: translate(-50%, -65%);
  -ms-transform: translate(-50%, -65%);
  -o-transform: translate(-50%, -65%);
  width: max-content;
  height: auto;
  filter: drop-shadow(2px 4px 6px black);
  -webkit-filter: drop-shadow(2px 4px 6px black);
  font-size: 65px;
  text-align: center;
}

.textMain {
  position: relative;
  top: -70px;
  transition: 1s all ease-in-out;
  -webkit-transition: 1s all ease-in-out;
  -moz-transition: 1s all ease-in-out;
  -ms-transition: 1s all ease-in-out;
  -o-transition: 1s all ease-in-out;
  opacity: 0;
  color: transparent;
  letter-spacing: 2px;
}

.textMainJS {
  top: 0;
  color: #00a1b7;
  opacity: 1;
}

.skillsContainer {
  position: relative;
  top: 0;
  left: 0;
  padding: 0 75px 0 75px;
  box-sizing: border-box;
  text-align: -webkit-center;
  text-align: center;
}

.menuSkillsContainer {
  position: relative;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: max-content;
  height: max-content;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  filter: drop-shadow(2px 4px 6px black);
  -webkit-filter: drop-shadow(2px 4px 6px black);
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #00a1b7;
  text-align: -webkit-center;
  opacity: 0;
}

.menuSkillsContainerJS {
  animation: menuSkillShadow linear 3s infinite;
  -webkit-animation: menuSkillShadow linear 3s infinite;
}

.menuSkillsContainerJS2 {
  position: relative;
  top: 50px;
  opacity: 1;
}

.menuSkillsTabs {
  position: relative;
  width: max-content;
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  color: white;
  cursor: pointer;
}

.menuSkillsIndicator {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.7s all ease-in-out;
  -webkit-transition: 0.7s all ease-in-out;
  -moz-transition: 0.7s all ease-in-out;
  -ms-transition: 0.7s all ease-in-out;
  -o-transition: 0.7s all ease-in-out;
  z-index: -1;
  opacity: 0;
  background-color: #00a1b7;
}

.skillsPointContainer {
  position: relative;
  top: 140px;
  left: 0;
  width: max-content;
  height: max-content;
  padding: 5px 10px;
  margin: 40px 40px 0 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  display: inline-block;
  opacity: 0;
  background-color: #303030;
  color: #00a1b7;
  font-size: 18px;
  text-align: center;
}

.skillsPointContainer:hover {
  background-color: #000000;
}

.firstContainerSkills {
  left: 50%;
  width: max-content;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  margin: 0 0 40px 0;
  display: block;
  max-width: 80%;
  background-color: #00a1b7;
  color: white;
  font-size: 18px;
}

.skillsPointContainerJS {
  top: 110px;
  opacity: 1;
}

.firstContainerSkills > img {
  display: none;
}

.skillsImg {
  position: relative;
  width: 35px;
  height: 35px;
  display: inline-block;
}

.skillsText {
  position: relative;
  top: 2px;
  width: fit-content;
  padding: 0 20px 5px 20px;
  display: inline-block;
  cursor: default;
}

.shadowMenuSkill {
  position: absolute;
  width: 50px;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  filter: blur(2px);
  -webkit-filter: blur(2px);
  box-shadow: 0 0 30px 10px rgba(0, 161, 183, 0.5);
  background-color: rgba(70, 233, 255, 0.502);
  z-index: -1;
  opacity: .4;
}

@keyframes menuSkillShadow {
  0% {
    box-shadow: 0 0 0 0 #00a1b7;
  }
  100% {
    box-shadow: 0 0 120px 40px transparent;
  }
}

.Four {
  position: absolute;
  left: 300%;
  z-index: 4;
  text-align: -webkit-center;
}

.wallFour {
  background-image: url(../img/wallpapers/wallpaper_5.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -10;
}

.packFour {
  text-align: center;
}

.eduContainer {
  position: relative;
  top: 300px;
  left: 0;
  width: 220px;
  height: 220px;
  margin: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  filter: drop-shadow(2px 4px 6px black);
  -webkit-filter: drop-shadow(2px 4px 6px black);
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  display: inline-block;
  text-align: center;
  color: #00a1b7;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
  box-shadow: #00a1b7 0 0 20px 0px, inset 0 0 20px 0 #00a1b7;
}

.eduContainerJS {
  top: 200px;
  left: 0;
  opacity: 1;
}

.eduTxt {
  position: absolute;
  top: 60%;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  cursor: pointer;
  transform-origin: center;
  opacity: 0;
  font-size: 18px;
}

.eduTxtJS {
  top: 50%;
  opacity: 1;
}

.added {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  font-size: 18px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.addedJS {
  top: 50%;
  opacity: 1;
}

.dynamicTheme {
  position: absolute;
  top: 40%;
  left: 50%;
  filter: drop-shadow(2px 4px 6px #252525);
  -webkit-filter: drop-shadow(2px 4px 6px #252525);
  transition: 0.7s all ease-in-out;
  -webkit-transition: 0.7s all ease-in-out;
  -moz-transition: 0.7s all ease-in-out;
  -ms-transition: 0.7s all ease-in-out;
  -o-transition: 0.7s all ease-in-out;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transform: translate(-100%, -100%);
  -webkit-transform: translate(-100%, -100%);
  -moz-transform: translate(-100%, -100%);
  -ms-transform: translate(-100%, -100%);
  -o-transform: translate(-100%, -100%);
  z-index: -2;
  transform-origin: center;
}

.eduContBG_4 {
  color: white;
}

.Five {
  position: absolute;
  left: 400%;
  z-index: 5;
}

.wallFive {
  background-image: url(../img/wallpapers/wallpaper_3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.societyCont, .documentsCont, .emailPhoneCont {
  position: relative;
  top: 60px;
  left: 80%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: max-content;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  border: 1px solid #00a1b7;
  opacity: 0;
  text-align: center;
}

.documentsCont, .emailPhoneCont {
  top: 130px;
}

.emailPhoneCont {
  top: 200px;
}

.contJS {
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  background-color: #252525;
  border-radius: 20px;
}

.contJS2 {
  left: 50%;
  opacity: 1;
}

.secTitle {
  position: absolute;
  top: 0;
  left: 100px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  background-color: #00a1b7;
  color: black;
}

.secTitleJS {
  background-color: white;
}

.contactLinks {
  display: inline-block;
  text-decoration-line: none;
}

.icons {
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  position: relative;
  top: 10px;
  margin: 20px 50px;
  width: 80px;
  box-sizing: border-box;
}

.icons:hover {
  box-shadow: 0 0 0 2px #00a1b7;
  border-radius: 50%;
  background-color: white;
}

.iconsName {
  color: white;
  display: block;
  padding-bottom: 20px;
}

.emailPhone {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

@media only screen and (max-width: 1000px), screen and (max-height: 800px) {
  .menuKontener {
    width: 100%;
    text-align: center;
  }
  .menuPunkty {
    font-size: 12px;
  }
  .tagMenu {
    height: 2px;
  }
  .logo {
    font-size: 40px;
  }
  .copyRigths {
    font-size: 10px;
    padding: 17px 0 0 0;
  }
  .social {
    top: -48px;
  }
  .social a img {
    width: 25px;
  }
  .me {
    left: -64px;
  }
  .helloBox {
    top: 100px;
    left: 0;
    width: 100%;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    box-sizing: border-box;
  }
  .helloLetterRefresh, .nameLetterRefresh, .sloganLetterRefresh {
    width: 25px;
    top: -10px;
  }
  .helloLetter {
    margin: 0 15px;
    right: -100px;
  }
  .helloLetterJS1 {
    font-size: 45px;
    right: 0;
  }
  .helloLetterJS2 {
    margin: 0 3px;
    left: 0;
  }
  .nameLewandowskiBox {
    top: 230px;
    left: 0;
    width: 100%;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    box-sizing: border-box;
  }
  .nameLetter {
    margin: 0 5px;
    top: 30px;
  }
  .nameLetterJS1 {
    font-size: 22px;
    top: -30px;
  }
  .nameLetterJS2 {
    top: 0;
  }
  .sloganKodowanieBox {
    top: 350px;
    left: 0;
    width: 100%;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    text-align: center;
    box-sizing: border-box;
  }
  .sloganLetter {
    margin: 0 10px;
    top: 30px;
  }
  .sloganLetterJS1 {
    top: -30px;
    font-size: 22px;
  }
  .sloganLetterJS2 {
    top: 0px;
    margin: 0 3px;
  }
  .moreInfo {
    top: 400px;
  }
  .meTxtCont {
    width: 90%;
  }
  .siteOneChildrenJS {
    left: -600px;
  }
  .companyContainer {
    font-size: 20px;
  }
  .companyPosition {
    font-size: 14px;
  }
  .companyYears {
    font-size: 14px;
  }
  .careerLikeIndicatorConatainer {
    font-size: 16px;
    padding: 10px;
  }
  .careerLikeStarsContainer {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 10px;
  }
  .careerLikeStars {
    width: 25px;
    height: 25px;
  }
  .dutiesButton {
    font-size: 14px;
  }
  .dutiesContainer {
    font-size: 12px;
  }
  .dutiesContainerJS1 {
    top: -180px;
  }
  .dutiesBoxesJS1 {
    max-width: 400px;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
  }
  .menuCareerContainer {
    width: 150px;
    height: 150px;
  }
  .menuCareerContainerJS {
    left: -140px;
  }
  .menuCareerPointsJS {
    padding: 0;
  }
  .menuCareerPoints {
    font-size: 15px;
    padding: 0;
    color: white;
  }
  #leftYear {
    left: 30px;
  }
  #bottomYear {
    left: 30px;
  }
  .yearsJS {
    color: #00a1b7;
  }
  .menuCareerIndicator {
    width: 30px;
    height: 30px;
  }
  .menuCareerInfo {
    display: none;
  }
  .siteChildrenJS {
    top: -500px;
  }
  .skillsMainText {
    top: 300px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 40px;
  }
  .menuSkillsTabs {
    font-size: 12px;
  }
  .skillsText {
    font-size: 14px;
  }
  .skillsPointContainer {
    top: 110px;
    margin: 20px 20px 0 0;
  }
  .skillsPointContainerJS {
    top: 80px;
    margin: 20px 20px 0 0;
  }
  .firstContainerSkills {
    margin: 0 0 20px 0;
  }
  .skillsImg {
    width: 25px;
    height: 25px;
  }
  .eduContainer {
    width: 130px;
    height: 130px;
    margin: 20px;
  }
  .eduContainerJS {
    top: 100px;
  }
  .eduTxt {
    font-size: 14px;
  }
  .added {
    font-size: 14px;
  }
  .secTitle {
    font-size: 12px;
  }
  .icons {
    width: 50px;
  }
  .iconsName {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px), screen and (max-height: 650px) {
  .preloaderTxtCont {
    font-size: 14px;
  }
  .infoBut {
    width: 90%;
    font-size: 14px;
  }
  .flag {
    width: 90%;
    height: 480px;
  }
  .lng {
    font-size: 12px;
  }
  .wallOne {
    background-image: url(../img/wallpapers/wallpaper_1m.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .menuPunkty {
    font-size: 12px;
    padding: 3px;
  }
  .logo {
    display: none;
  }
  .copyRigths {
    text-align: center;
  }
  .social {
    display: none;
  }
  .helloLetterRefresh, .nameLetterRefresh, .sloganLetterRefresh {
    width: 15px;
  }
  .helloLetterJS1 {
    font-size: 35px;
  }
  .nameLetter {
    margin: 0 2px;
    top: 10px;
  }
  .nameLetterJS1 {
    font-size: 14px;
    top: -10px;
  }
  .nameLetterJS2 {
    top: 0;
  }
  .sloganLetter {
    margin: 0 5px;
    top: 10px;
  }
  .sloganLetterJS1 {
    top: -10px;
    font-size: 14px;
  }
  .sloganLetterJS2 {
    top: 0;
    margin: 0 2px;
  }
  .siteOneChildrenJS {
    left: -600px;
  }
  .meTxtCont {
    width: 90%;
    font-size: 12px;
  }
  .meTxtCont > .meTxtPoints {
    font-size: 12px;
  }
  .meTxtPoints {
    font-size: 14px;
  }
  .wallTwo {
    background-image: url(../img/wallpapers/wallpaper_2_0m.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .companyContainer {
    font-size: 14px;
    top: 250px;
    padding: 10px;
    width: 90%;
    max-width: 300px;
    text-align: center;
    border: 0;
  }
  .companyPosition {
    font-size: 12px;
    margin-top: 15px;
  }
  .companyYears {
    font-size: 12px;
    margin-top: 5px;
  }
  #leftYear {
    left: 15px;
  }
  #bottomYear {
    left: 15px;
  }
  .careerLikeIndicatorConatainer {
    top: 300px;
    width: 90%;
    max-width: 300px;
    border: 0;
    text-align: center;
    font-size: 14px;
    padding: 10px;
  }
  .careerLikeStars {
    width: 18px;
    height: 18px;
  }
  .dutiesButton {
    top: 350px;
    font-size: 14px;
    padding: 5px 10px;
    border: 0;
    animation: none;
    -webkit-animation: none;
  }
  .dutiesContainer {
    font-size: 12px;
    width: 90%;
    max-width: 300px;
    background-color: rgba(37, 37, 37, 0.95);
  }
  .dutiesContainerJS1 {
    top: -150px;
  }
  .dutiesBoxesJS1 {
    width: 100%;
    text-align: center;
    padding: 8px;
    margin: 8px 0;
    border: 0;
    max-width: 250px;
  }
  .menuCareerContainer {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border: 0;
  }
  .menuCareerNav {
    display: none;
  }
  .siteChildrenJS {
    top: -500px;
  }
  .wallThree {
    background-image: url(../img/wallpapers/wallpaper_3m.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .skillsMainText {
    top: 300px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 30px;
  }
  .skillsContainer {
    padding: 2px 0;
    margin: 0;
  }
  .menuSkillsTabs {
    font-size: 11px;
    padding: 5px 5px;
  }
  .skillsText {
    font-size: 13px;
  }
  .skillsPointContainer {
    padding: 2px 10px;
  }
  .skillsImg {
    width: 20px;
    height: 20px;
  }
  .skillsText {
    top: 0;
  }
  .firstContainerSkills {
    max-width: 90%;
  }
  .wallFour {
    background-image: url(../img/wallpapers/wallpaper_4m.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .wallFive {
    background-image: url(../img/wallpapers/wallpaper_5m.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .secTitle {
    left: 50%;
    font-size: 11px;
    border-radius: 5px;
  }
  .icons {
    width: 40px;
    margin: 20px;
  }
  .iconsName {
    font-size: 11px;
    margin: 5px;
  }
}

@media only screen and (max-width: 350px), screen and (max-height: 450px) {
  .menuPunkty {
    font-size: 10px;
    padding: 2px;
  }
  .helloLetterJS1 {
    font-size: 24px;
  }
  .skillsMainText {
    font-size: 18px;
  }
  .eduContainer {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
  .eduContainerJS {
    top: 100px;
  }
  .eduTxt {
    font-size: 11px;
  }
  .added {
    font-size: 11px;
  }
  .secTitle {
    font-size: 10px;
    border-radius: 3px;
  }
  .icons {
    width: 30px;
    margin: 15px;
  }
  .iconsName {
    font-size: 10px;
    margin: 3px;
  }
}

@media only screen and (max-width: 290px), screen and (max-height: 450px) {
  .tagMenu {
    display: none;
  }
  .helloLetterRefresh, .nameLetterRefresh, .sloganLetterRefresh {
    display: none;
  }
  .helloLetterJS1 {
    font-size: 20px;
  }
  .nameLetterJS1 {
    font-size: 10px;
  }
  .sloganLetterJS1 {
    font-size: 10px;
  }
  .menuSkillsContainer {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-right: 0;
    border-left: 0;
  }
  .menuSkillsTabs {
    font-size: 10px;
  }
  .skillsPointContainer {
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin: 0;
  }
  .skillsPointContainerJS {
    margin: 0 0 1px 0;
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .firstContainerSkills {
    width: 100%;
    max-width: 100%;
    margin: 0;
    border-bottom: 1px solid #00a1b7;
  }
}
