@charset "UTF-8";
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--myBack);
  font-family: 'system-ui', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.allPagesBox {
  position: relative;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 0.5s all linear;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
}

.brightLess {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.brightLessJS {
  width: 500%;
}

.Page {
  position: absolute;
  top: 100px;
  width: 100%;
  height: calc( 100vh - 150px);
  transition: 0.5s all linear;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  display: inline-block;
  overflow: hidden;
}

.cont {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: linear .3s;
  box-sizing: border-box;
}

.contZindx {
  z-index: -1;
}

.contZindxJS {
  z-index: 1;
}

.contChildren {
  position: relative;
  width: max-content;
  margin: auto;
  box-sizing: border-box;
  max-width: 90%;
}

.preloader {
  background-color: var(--myBack);
  z-index: 1000000000000;
  font-size: var(--myTxtHeaderNormal);
}

.preloaderTxtCont {
  color: var(--myTxtLight);
  text-align: center;
}

.prelTxt {
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: var(--myBorderSize) solid var(--myBorder);
  background-color: var(--myMainBackTheme);
}

.prelImg {
  display: block;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 200px;
  height: 10px;
  border-radius: 5px;
  border: var(--myBorderSize) solid var(--myBorder);
}

.prelImg > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 1%;
  height: 100%;
  background-color: var(--myTheme);
  animation: fillPreloader 5s linear;
  -webkit-animation: fillPreloader 5s linear;
}

.chooseLang {
  background-color: var(--myBack);
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  z-index: 99996;
  opacity: 0;
}

.chooseLangJS {
  opacity: 1;
}

.flag {
  background-color: var(--myMainBackTheme);
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  border-radius: 20px;
  border: var(--myBorderSize) solid var(--myBorder);
}

.flagJS1 {
  background-color: #560000;
}

.flagJS2 {
  background-color: #002246;
}

.lng {
  position: relative;
  margin: 20px auto;
  font-size: var(--myTxtHeader2Normal);
  text-align: center;
}

.pol {
  color: var(--myTxtDark);
  background-color: var(--myTheme);
  padding: var(--mypaddingButton);
  cursor: pointer;
  width: max-content;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  animation: menuSkillShadow linear 3s infinite;
  -webkit-animation: menuSkillShadow linear 3s infinite;
  max-width: 90%;
  box-sizing: border-box;
}

.pol:hover {
  background-color: var(--myHover);
}

.ang {
  color: var(--myTxtDark);
  background-color: var(--myTheme);
  padding: var(--mypaddingButton);
  cursor: pointer;
  width: max-content;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  animation: menuSkillShadow linear 3s infinite;
  -webkit-animation: menuSkillShadow linear 3s infinite;
  max-width: 90%;
  box-sizing: border-box;
}

.ang:hover {
  background-color: var(--myHover);
}

.lngsp {
  margin: 20px 10px 40px 10px;
  font-size: var(--myTxtHeaderNormal);
  color: var(--myTheme);
  cursor: default;
  display: block;
}

.infoStart {
  background-color: var(--myBack);
  z-index: 99995;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.infoBut {
  width: 90%;
  max-width: 600px;
  padding: 30px;
  transition: 1s all linear;
  -webkit-transition: 1s all linear;
  -moz-transition: 1s all linear;
  -ms-transition: 1s all linear;
  -o-transition: 1s all linear;
  border: var(--borderSize) solid var(--myTheme);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: var(--myTxtContentNormal);
  color: var(--myTxtLight);
  background-color: var(--myMainBackTheme);
  opacity: 0;
  box-sizing: border-box;
}

.infoButJS {
  opacity: 1;
}

.infoBut > .meTxtPoints:hover {
  background-color: var(--myHover);
}

.meTxtPoints > a {
  text-decoration-line: none;
  color: var(--myBack);
}

.closeInfoStartTxt {
  color: var(--myTxtDark);
  background-color: var(--myTheme);
  padding: var(--mypaddingButton);
  cursor: pointer;
  width: max-content;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  animation: menuSkillShadow linear 3s infinite;
  -webkit-animation: menuSkillShadow linear 3s infinite;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  margin-top: 30px;
  box-sizing: border-box;
  max-width: 90%;
}

.closeInfoStartTxt:hover {
  background-color: var(--myHover);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1001;
  border-bottom: var(--myBorderSize) solid var(--myTheme);
  background-color: var(--myMainBackTheme);
}

.naglowek {
  height: 100%;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

.naglowek:hover .logo {
  color: var(--myTxtLight);
}

.menuKontener {
  position: relative;
  top: 50%;
  width: calc(100% - 80px);
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  overflow: hidden;
}

.menuPunkty {
  padding: 10px;
  transition: 0.5s all linear;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  display: inline;
  cursor: pointer;
  color: var(--myTxtGrey);
  letter-spacing: 1px;
  font-size: 18px;
}

.colorMenuPunkty {
  color: var(--myTxtTheme);
}

.tagMenu {
  position: relative;
  width: 0;
  height: 3px;
  transition: 0.5s all linear;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: var(--myTheme);
  margin-top: 10px;
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  transition: 0.4s width linear;
  -webkit-transition: 0.4s width linear;
  -moz-transition: 0.4s width linear;
  -ms-transition: 0.4s width linear;
  -o-transition: 0.4s width linear;
  padding: 0 20px;
  font-size: 30px;
  color: var(--myTxtDark);
  background-color: var(--myTheme);
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.logoJS {
  width: 221px;
  background-color: transparent;
  color: var(--myTheme);
}

.logoBox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.logoBox > div:nth-child(1) {
  position: relative;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  display: inline-block;
}

.logoBox > div:nth-child(2) {
  display: inline-block;
  position: relative;
}

.optionButton {
  position: relative;
  padding: 5px 10px;
  background-color: var(--myTheme);
  border-radius: 10px;
  font-size: 12px;
  margin-block-start: 5px;
  margin-block-end: 0;
}

.optionButtonJS {
  color: var(--myTxtLight);
  z-index: 200;
  background-color: var(--myRed);
}

.optionArea {
  width: 200px;
  background-color: var(--myMainBackTheme);
  position: absolute;
  top: 100px;
  max-height: calc(100vh - 150px);
  right: -210px;
  padding: 10px;
  transition: .5s;
  opacity: 0;
  border-left: var(--myBorderSize) solid var(--myBorder);
  overflow-y: auto;
}

.optionAreaJS {
  right: 0;
  opacity: 1;
}

.optionArea > h3 {
  color: var(--myTxtLight);
  font-size: var(--myTxtContentNormal);
  position: relative;
  margin-top: 50px;
  text-align: center;
}

.optionArea > h3:nth-child(1) {
  margin-top: 0;
}

.themeCont {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  text-align: center;
}

.themeChoose {
  position: relative;
  top: 0;
  margin: 10px auto;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
}

.wallCol, .mainTheme, .borderTheme {
  width: 70px;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px 3px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--myTxtSmallElementsNormal);
}

.wallCol:nth-Child(1), .mainTheme:nth-Child(1), .borderTheme:nth-Child(1) {
  background-color: grey;
}

.wallCol:nth-Child(2), .mainTheme:nth-Child(2), .borderTheme:nth-Child(2) {
  background-image: linear-gradient(359deg, #96c0ff -17.7%, #ffb4a1 101.5%);
}

.activetedSettingsFrame {
  box-shadow: inset 0 0 0px 2px white;
}

.mainTheme:nth-Child(1), .borderTheme:nth-Child(1) {
  background-color: grey;
}

.mainTheme:nth-Child(2), .borderTheme:nth-Child(2) {
  background-image: none;
  background-color: black;
  color: white;
}

.borderTheme:nth-Child(1) {
  background-color: black;
  color: white;
}

.borderTheme:nth-Child(2) {
  background-color: black;
  color: white;
}

.copyRigths {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 15px 0 0 0;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  opacity: 1;
  z-index: 1000;
  color: var(--myGrey);
  font-size: var(--myTxtSmallElementsNormal);
  letter-spacing: 1px;
  box-sizing: border-box;
  border-top: var(--myBorderSize) solid var(--myBorder);
  background-color: var(--myMainBackTheme);
}

.social {
  position: absolute;
  top: -78px;
  right: 0;
  width: max-content;
  padding: 10px;
  transition: 0.1s all linear;
  -webkit-transition: 0.1s all linear;
  -moz-transition: 0.1s all linear;
  -ms-transition: 0.1s all linear;
  -o-transition: 0.1s all linear;
  background-color: var(--myMainBackTheme);
  border-top: var(--myBorderSize) solid var(--myBorder);
}

.social a {
  display: block;
}

.social:hover {
  background-color: var(--myBlack);
}

.social a img {
  width: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.1s all linear;
  -webkit-transition: 0.1s all linear;
  -moz-transition: 0.1s all linear;
  -ms-transition: 0.1s all linear;
  -o-transition: 0.1s all linear;
}

.social a img:hover {
  box-shadow: 0 0 0 2px var(--myHover);
}

.socialJS {
  opacity: 0;
}

.me {
  position: absolute;
  top: -1px;
  left: -84px;
  height: 100%;
  border-top: var(--myBorderSize) solid var(--myBorder);
  border-left: var(--myBorderSize) solid var(--myBorder);
}

.icnSoc {
  filter: var(--myGrayScaleNone);
  -webkit-filter: var(--myGrayScaleNone);
}

.wall {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: grayscale(0.9);
  -webkit-filter: grayscale(0.9);
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
}

@keyframes fillPreloader {
  100% {
    width: 100%;
  }
}

.One {
  left: 0;
}

.wallOne {
  background-image: url(../img/wallpapers/wallpaper_1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.helloBox, .nameLewandowskiBox, .sloganKodowanieBox {
  position: relative;
  left: 0;
  transition: 0.5s all linear;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  margin: 0 0 55px 0;
  text-shadow: -3px 2px 4px black;
  font-size: 90px;
}

.helloLetter {
  position: relative;
  top: -15px;
  margin: 0px 3px;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  color: var(--myGrey);
}

.helloLetterJS1, .helloLetterJS2 {
  top: 0px;
  opacity: 1;
  color: var(--myTxtTheme);
}

.helloLetterJS2 {
  color: var(--myTxtLight);
}

.nameLewandowskiBox, .sloganKodowanieBox {
  font-size: 50px;
}

.marginLetter {
  margin: 0 15px 0 0;
}

.moreInfo {
  opacity: 0;
  z-index: 100;
  position: relative;
  top: 0;
  left: -50px;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  color: var(--myTxtDark);
  background-color: var(--myTheme);
  padding: var(--mypaddingButton);
  cursor: pointer;
  width: max-content;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  animation: menuSkillShadow linear 3s infinite;
  -webkit-animation: menuSkillShadow linear 3s infinite;
  margin: auto;
}

.moreInfo:hover {
  background-color: var(--myHover);
}

.moreInfoJS {
  opacity: 1;
  left: 0;
}

.meTxtCont {
  position: relative;
  top: -700px;
  width: 90%;
  max-width: 800px;
  padding: 30px;
  transition: 0.5s all linear;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: var(--myHalfMainBackTheme);
  color: var(--myTxtLight);
  font-size: 16px;
  z-index: -1;
}

.meTxtContJS {
  top: 0;
  z-index: 1;
}

.meTxtCont > img {
  position: relative;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 4px solid var(--myBorder);
  margin-right: 10px;
}

.meTxtPoints {
  padding: 1px 6px;
  margin: 0px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: var(--myTheme);
  display: inline-block;
  color: var(--myTxtDark);
}

.txtmar {
  margin: 10px 5px;
}

.closeMeInfo {
  position: relative;
  left: 0;
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin: auto;
  font-size: 14px;
  background-color: var(--myRed);
  cursor: pointer;
  text-align: center;
}

.closeMeInfo:hover {
  box-shadow: 0 0 0 2px var(--myHover);
}

.siteOneChildrenJS {
  left: -150px;
  opacity: 0;
}

.siteOneChildrenJS2 {
  top: -150px;
  opacity: 0;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root {
  --myTheme: #00a1b7;
  --myBlack: black;
  --myRed: #b9352b;
  --myWhite: white;
  --myGrey: #969696;
  --myBack: black;
  --myMainBackTheme: #252525;
  --myTxtLight: white;
  --myTxtDark: black;
  --myTxtGrey: #969696;
  --myTxtTheme: #00a1b7;
  --myHover: white;
  --myBorder: #00a1b7;
  --myHalfMainBackTheme: rgba(37, 37, 37, 0.8);
  --myHalfBlack: rgba(0, 0, 0, 0.5);
  --myThemeHalf: rgba(0, 161, 183, 0.7);
  --myGrayScaleNone: grayscale(0);
  --myBorderSize: 1px;
  --myTxtHeaderNormal: 22px;
  --myTxtHeader2Normal: 18px;
  --myTxtContentNormal: 16px;
  --myTxtSmallElementsNormal: 14px;
  --mypaddingButton: 7px 15px;
}

@media only screen and (max-width: 700px) {
  :root {
    --myTxtHeaderNormal: 16px;
    --myTxtHeader2Normal: 14px;
    --myTxtContentNormal: 13px;
    --myTxtSmallElementsNormal: 11px;
    --mypaddingButton: 5px 10px;
  }
}

@media only screen and (max-width: 400px) {
  :root {
    --myTxtHeaderNormal: 14px;
    --myTxtHeader2Normal: 12px;
    --myTxtContentNormal: 11px;
    --myTxtSmallElementsNormal: 10px;
    --mypaddingButton: 3px 7px;
  }
}

.Two {
  left: 100%;
}

.wallTwo {
  background-image: url(../img/wallpapers/wallpaper_2_0.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.packTwo {
  width: calc(100% - 320px);
  left: 320px;
}

.contMenuPage2 {
  width: max-content;
  position: relative;
}

.menuCareerContainer {
  top: 0;
  left: -100px;
  width: 300px;
  height: 300px;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 0 10px;
  z-index: 1;
  background-color: var(--myHalfMainBackTheme);
  cursor: pointer;
  opacity: 0;
}

.menuCareerContainerJS {
  left: -325px;
}

.menuCareerPoints {
  position: absolute;
  width: auto;
  padding: 90px;
  transition: 0.4s all linear;
  -webkit-transition: 0.4s all linear;
  -moz-transition: 0.4s all linear;
  -ms-transition: 0.4s all linear;
  -o-transition: 0.4s all linear;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 35px;
  color: var(--myTxtDark);
}

.menuCareerPointsJS {
  padding: 15px;
  color: var(--myTxtLight);
}

#leftYear {
  top: 0;
  left: 0;
}

#topYear {
  top: 0;
  right: 0;
}

#rightYear {
  bottom: 0;
  right: 0;
}

#bottomYear {
  bottom: 0;
  left: 0;
}

.yearsJS {
  color: var(--myTxtTheme);
}

.menuCareerIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  display: block;
  box-sizing: border-box;
  background-color: black;
  box-shadow: 0px 0 4px 2px black, 0px 0px 8px 6px var(--myTheme);
}

.menuCareerIndicatorJS0 {
  box-shadow: 2px 0 4px 2px black, -8px -8px 12px 6px var(--myTheme);
}

.menuCareerIndicatorJS1 {
  box-shadow: 2px 0 4px 2px black, 8px -8px 12px 6px var(--myTheme);
}

.menuCareerIndicatorJS2 {
  box-shadow: 2px 0 4px 2px black, 8px 8px 12px 6px var(--myTheme);
}

.menuCareerIndicatorJS3 {
  box-shadow: 2px 0 4px 2px black, -8px 8px 12px 6px var(--myTheme);
}

.menuCareerInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 180px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  background-color: black;
}

.menuCareerInfo::before {
  position: absolute;
  top: 85px;
  left: 50%;
  width: max-content;
  height: max-content;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: var(--myTxtTheme);
  font-weight: lighter;
  font-size: 11px;
  content: "Porusz myszką aby rozpocząć";
}

.menuCareerInfoJS2::before {
  content: "Move the mouse to start";
}

.menuCareerInfoJS {
  opacity: 0;
}

.menuCareerMouseAnimation {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 20px;
  height: 25px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 30% 30% 10% 10%;
  -webkit-border-radius: 30% 30% 10% 10%;
  -moz-border-radius: 30% 30% 10% 10%;
  -ms-border-radius: 30% 30% 10% 10%;
  -o-border-radius: 30% 30% 10% 10%;
  border: 2px solid var(--myBorder);
}

.menuCareerMouseAnimationActive {
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  animation: mouseMove 3s ease-in-out infinite;
  -webkit-animation: mouseMove 3s ease-in-out infinite;
}

.menuCareerMouseAnimationActive::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 2px;
  transform: translate(-50%, -200%) rotate(-90deg);
  -webkit-transform: translate(-50%, -200%) rotate(-90deg);
  -moz-transform: translate(-50%, -200%) rotate(-90deg);
  -ms-transform: translate(-50%, -200%) rotate(-90deg);
  -o-transform: translate(-50%, -200%) rotate(-90deg);
  background-color: white;
  content: "";
}

.menuCareerTip {
  opacity: 0;
  width: max-content;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.4s all linear;
  -webkit-transition: 0.4s all linear;
  -moz-transition: 0.4s all linear;
  -ms-transition: 0.4s all linear;
  -o-transition: 0.4s all linear;
  background-color: var(--myHalfMainBackTheme);
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  color: var(--myTxtTheme);
}

.menuCareerTipJS {
  bottom: -35px;
  opacity: 1;
}

.companyContainer, .careerLikeIndicatorConatainer, .dutiesButton {
  position: relative;
  top: 0;
  left: -100px;
  width: max-content;
  height: max-content;
  padding: 20px 35px;
  margin: 20px auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.5s all linear;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  display: block;
  opacity: 0;
  box-sizing: border-box;
  background-color: var(--myHalfMainBackTheme);
  font-size: 40px;
}

.companyName {
  position: relative;
  color: transparent;
}

.companyNameLettersJS1 {
  position: relative;
  top: -50px;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  opacity: 0;
}

.companyNameLettersJS2 {
  position: relative;
  top: 50px;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  opacity: 0;
}

.companyNameLettersJS3 {
  top: 0;
  margin: 2px;
  color: var(--myTxtTheme);
  opacity: 1;
}

.companyPosition, .companyYears {
  position: relative;
  color: transparent;
  font-size: 25px;
}

.companyPositionLettersJS1 {
  position: relative;
  left: 0;
  margin: 2px;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  opacity: 0;
}

.companyPositionLettersJS3 {
  opacity: 1;
  color: var(--myTxtGrey);
}

.companyYearsLettersJS1 {
  position: relative;
  left: 2px;
  margin: 4px;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  opacity: 0;
}

.companyYearsLettersJS3 {
  opacity: 1;
  color: var(--myTxtGrey);
}

.careerLikeIndicatorConatainer {
  color: var(--myTxtTheme);
  font-size: 22px;
}

.careerLikeStarsContainer {
  position: relative;
  width: max-content;
  height: max-content;
  padding: 15px 0 0 0;
  margin: 0 auto;
}

.careerLikeStars {
  position: relative;
  width: 50px;
  height: 50px;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  display: inline-block;
  background-color: #525252;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.careerLikeStarsJS1 {
  background-color: white;
}

.dutiesButton {
  font-size: 20px;
  color: var(--myTxtDark);
  background-color: var(--myTheme);
  padding: var(--mypaddingButton);
  cursor: pointer;
  width: max-content;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  animation: menuSkillShadow linear 3s infinite;
  -webkit-animation: menuSkillShadow linear 3s infinite;
}

.dutiesButton:hover {
  background-color: var(--myHover);
}

.dutiesContainer {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 15px 35px 25px 35px;
  display: block;
  cursor: pointer;
  background-color: var(--myHalfMainBackTheme);
  width: max-content;
  max-width: 90%;
  z-index: 100;
  transition: .7s;
}

.contMenuPage3 {
  transition: .7s;
  top: -1200px;
}

.dutiesClose {
  position: relative;
  top: 0;
  left: 0;
  width: max-content;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 6px 10px;
  margin: auto;
  background-color: var(--myRed);
  color: var(--myTxtDark);
}

.dutiesClose:hover {
  background-color: white;
}

.dutiesBoxesJS1 {
  position: relative;
  width: max-content;
  max-width: 90%;
  padding: 10px 35px;
  margin: 25px auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: var(--myBorderSize) solid var(--myBorder);
  color: var(--myTxtLight);
  box-sizing: border-box;
  text-align: center;
}

.dutiesBoxesJS1:hover {
  background-color: var(--myTheme);
}

@keyframes mouseMove {
  from {
    height: 25px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  25% {
    height: 33px;
    width: 22px;
  }
  50% {
    box-shadow: 0 0 4px 1px var(--myTheme);
    height: 25px;
    width: 20px;
    transform: translate(-50%, -200%);
    -webkit-transform: translate(-50%, -200%);
    -moz-transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    -o-transform: translate(-50%, -200%);
  }
  75% {
    height: 33px;
    width: 22px;
  }
  to {
    height: 25px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
}

.siteTwoChildrenJS {
  left: 0;
  opacity: 1;
}

.siteTwoChildrenJS2 {
  top: 0;
  opacity: 1;
}

.Three {
  left: 200%;
}

.wallThree {
  background-image: url(../img/wallpapers/wallpaper_4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.packThree {
  width: 100%;
  max-width: 80%;
}

.skillsMainText {
  filter: drop-shadow(2px 4px 6px black);
  -webkit-filter: drop-shadow(2px 4px 6px black);
  font-size: 60px;
  margin: 0 auto 70px auto;
  text-align: center;
}

.textMain {
  position: relative;
  top: 50px;
  transition: 1s all linear;
  -webkit-transition: 1s all linear;
  -moz-transition: 1s all linear;
  -ms-transition: 1s all linear;
  -o-transition: 1s all linear;
  opacity: 0;
  color: transparent;
  letter-spacing: 2px;
}

.textMainJS {
  top: 0;
  color: var(--myTxtTheme);
  opacity: 1;
}

.skillsContainer {
  text-align: center;
}

.menuSkillsContainer {
  position: relative;
  top: 0;
  left: -100px;
  width: max-content;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.4s all linear;
  -webkit-transition: 0.4s all linear;
  -moz-transition: 0.4s all linear;
  -ms-transition: 0.4s all linear;
  -o-transition: 0.4s all linear;
  filter: drop-shadow(2px 4px 6px black);
  -webkit-filter: drop-shadow(2px 4px 6px black);
  background-color: var(--myHalfMainBackTheme);
  opacity: 0;
  margin: 30px auto;
}

.menuSkillsContainerJS {
  animation: menuSkillShadow linear 3s infinite;
  -webkit-animation: menuSkillShadow linear 3s infinite;
}

.menuSkillsContainerJS2 {
  left: 0;
  opacity: 1;
}

.menuSkillsTabs {
  position: relative;
  width: max-content;
  padding: 10px 20px;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  color: var(--myTxtLight);
  cursor: pointer;
}

.menuSkillsIndicator {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1.2s all linear;
  -webkit-transition: 1.2s all linear;
  -moz-transition: 1.2s all linear;
  -ms-transition: 1.2s all linear;
  -o-transition: 1.2s all linear;
  z-index: -1;
  opacity: 0;
  background-color: var(--myTheme);
  filter: blur(20px);
}

.menuSkillsIndicatorJS {
  opacity: .8;
}

.skillsPointContainer {
  position: relative;
  top: 50px;
  left: 0;
  width: max-content;
  padding: 5px 15px;
  margin: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.4s all linear;
  -webkit-transition: 0.4s all linear;
  -moz-transition: 0.4s all linear;
  -ms-transition: 0.4s all linear;
  -o-transition: 0.4s all linear;
  display: inline-block;
  opacity: 0;
  background-color: var(--myHalfMainBackTheme);
  color: var(--myTxtTheme);
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
}

.skillsPointContainer:hover {
  background-color: #000000;
}

.firstContainerSkills {
  position: relative;
  top: 50px;
  left: 0;
  width: max-content;
  max-width: 90%;
  transition: 0.4s all linear;
  -webkit-transition: 0.4s all linear;
  -moz-transition: 0.4s all linear;
  -ms-transition: 0.4s all linear;
  -o-transition: 0.4s all linear;
  margin: 20px auto;
  display: block;
  background-color: var(--myTheme);
  color: var(--myTxtLight);
  font-size: 18px;
}

.skillsPointContainerJS {
  top: 0;
  left: 0;
  opacity: 1;
}

.firstContainerSkills > img {
  display: none;
}

.skillsImg {
  position: relative;
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 0 15px 0 0;
  vertical-align: middle;
}

.skillsText {
  position: relative;
  top: 0;
  display: inline-block;
  cursor: default;
  box-sizing: border-box;
}

.shadowMenuSkill {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  filter: blur(20px);
  -webkit-filter: blur(20px);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 5px 1px var(--myTheme);
  background-color: var(--myTheme);
  z-index: -1;
  opacity: .8;
}

.shadowMenuSkillJS {
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  width: 100px;
  height: 100px;
}

@keyframes menuSkillShadow {
  0% {
    box-shadow: inset 0 0 0 0 var(--myTheme);
  }
  100% {
    box-shadow: inset 0px 0px 20px 5px transparent;
  }
}

.Four {
  left: 300%;
}

.wallFour {
  background-image: url(../img/wallpapers/wallpaper_5.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -10;
}

.packFour {
  text-align: center;
}

.packFour > .contChildren {
  max-width: 90%;
}

.eduContainer {
  position: relative;
  top: 0;
  left: -150px;
  width: 220px;
  height: 220px;
  margin: 20px 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  filter: drop-shadow(2px 4px 6px black);
  -webkit-filter: drop-shadow(2px 4px 6px black);
  background-color: rgba(29, 29, 29, 0.4);
  opacity: 0;
  display: inline-block;
  color: var(--myTxtTheme);
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
  box-shadow: inset 0 0 10px 2px var(--myTheme);
}

.eduContainerJS {
  left: 0;
  opacity: 1;
}

.eduTxt, .added {
  position: relative;
  top: 60%;
  width: max-content;
  height: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  max-width: 90%;
  cursor: pointer;
  transform-origin: center;
  opacity: 0;
  font-size: 18px;
  margin: 0 auto;
}

.eduTxtJS {
  top: 50%;
  opacity: 1;
}

.added {
  top: 100%;
}

.addedJS {
  top: 50%;
  opacity: 1;
}

.dynamicTheme {
  position: absolute;
  top: 40%;
  left: 50%;
  transition: 0.7s all linear;
  -webkit-transition: 0.7s all linear;
  -moz-transition: 0.7s all linear;
  -ms-transition: 0.7s all linear;
  -o-transition: 0.7s all linear;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translate(-100%, -100%);
  -webkit-transform: translate(-100%, -100%);
  -moz-transform: translate(-100%, -100%);
  -ms-transform: translate(-100%, -100%);
  -o-transform: translate(-100%, -100%);
  z-index: -2;
  transform-origin: center;
}

.eduContBG_4 {
  color: var(--myTxtLight);
}

.Five {
  left: 400%;
}

.wallFive {
  background-image: url(../img/wallpapers/wallpaper_3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.societyCont, .documentsCont, .emailPhoneCont {
  position: relative;
  top: 0;
  left: -150px;
  width: max-content;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.4s all linear;
  -webkit-transition: 0.4s all linear;
  -moz-transition: 0.4s all linear;
  -ms-transition: 0.4s all linear;
  -o-transition: 0.4s all linear;
  border: var(--myBorderSize) solid var(--myBorder);
  opacity: 0;
  text-align: center;
  background-color: var(--myHalfMainBackTheme);
  margin: 0 auto;
}

.documentsCont {
  margin: 50px auto;
}

.contJS {
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  background-color: black;
  border-radius: 20px;
}

.contJS2 {
  left: 0;
  opacity: 1;
}

.secTitle {
  position: absolute;
  top: 0;
  left: 100px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  background-color: var(--myTheme);
  color: var(--myTxtDark);
}

.secTitleJS {
  background-color: white;
}

.contactLinks {
  display: inline-block;
  text-decoration-line: none;
}

.icons {
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  position: relative;
  top: 10px;
  margin: 20px 50px;
  width: 60px;
  filter: var(--myGrayScaleNone);
  -webkit-filter: var(--myGrayScaleNone);
  box-sizing: border-box;
}

.icons:hover {
  box-shadow: 0 0 0 2px var(--myTheme);
  border-radius: 50%;
  background-color: white;
}

.iconsName {
  color: var(--myTxtLight);
  display: block;
  padding-bottom: 20px;
}

.emailPhone {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

:root {
  --myTheme: #00a1b7;
  --myBlack: black;
  --myRed: #b9352b;
  --myWhite: white;
  --myGrey: #969696;
  --myBack: black;
  --myMainBackTheme: #252525;
  --myTxtLight: white;
  --myTxtDark: black;
  --myTxtGrey: #969696;
  --myTxtTheme: #00a1b7;
  --myHover: white;
  --myBorder: #00a1b7;
  --myHalfMainBackTheme: rgba(37, 37, 37, 0.8);
  --myHalfBlack: rgba(0, 0, 0, 0.5);
  --myThemeHalf: rgba(0, 161, 183, 0.7);
  --myGrayScaleNone: grayscale(0);
  --myBorderSize: 1px;
  --myTxtHeaderNormal: 22px;
  --myTxtHeader2Normal: 18px;
  --myTxtContentNormal: 16px;
  --myTxtSmallElementsNormal: 14px;
  --mypaddingButton: 7px 15px;
}

@media only screen and (max-width: 700px) {
  :root {
    --myTxtHeaderNormal: 16px;
    --myTxtHeader2Normal: 14px;
    --myTxtContentNormal: 13px;
    --myTxtSmallElementsNormal: 11px;
    --mypaddingButton: 5px 10px;
  }
}

@media only screen and (max-width: 400px) {
  :root {
    --myTxtHeaderNormal: 14px;
    --myTxtHeader2Normal: 12px;
    --myTxtContentNormal: 11px;
    --myTxtSmallElementsNormal: 10px;
    --mypaddingButton: 3px 7px;
  }
}

@media only screen and (max-width: 1100px) {
  .packTwo {
    width: calc(100% - 120px);
    left: 120px;
  }
  .menuCareerContainer {
    width: auto;
    height: auto;
  }
  .menuCareerPointsJS {
    padding: 0;
  }
  .menuCareerPoints {
    font-size: 15px;
    padding: 20px;
    color: white;
    position: relative;
  }
  .yearsJS {
    color: var(--myTxtTheme);
  }
  .menuCareerIndicator {
    display: none;
  }
  .menuCareerInfo {
    display: none;
  }
  .menuCareerTip {
    display: none;
  }
  .companyContainer, .careerLikeIndicatorConatainer, .dutiesButton {
    font-size: 22px;
    padding: 10px 25px;
  }
  .companyPosition, .companyYears {
    font-size: 16px;
  }
  .careerLikeIndicatorConatainer {
    font-size: 15px;
  }
  .careerLikeStars {
    width: 30px;
    height: 30px;
  }
  .dutiesButton {
    font-size: 16px;
  }
  .dutiesBoxesJS1 {
    font-size: 14px;
  }
  .skillsMainText {
    font-size: 40px;
  }
  .menuSkillsTabs {
    font-size: 13px;
  }
  .skillsPointContainer {
    font-size: 12px;
    margin: 15px;
  }
  .firstContainerSkills {
    font-size: 12px;
    margin: 15px auto;
  }
  .skillsImg {
    width: 25px;
    height: 25px;
  }
}

@media only screen and (max-width: 700px) {
  .menuPunkty {
    font-size: 14px;
    letter-spacing: 0;
    padding: 4px;
  }
  .tagMenu {
    display: none;
    width: 100px;
  }
  .logoJS {
    width: 121px;
  }
  .optionButton {
    font-size: 10px;
  }
  .optionArea {
    width: 100px;
  }
  .themeChoose {
    width: 60px;
    height: 20px;
    display: block;
  }
  .wallCol, .mainTheme, .borderTheme {
    display: block;
    width: 60px;
    padding: 5px 3px;
  }
  .me {
    display: none;
  }
  .copyRigths {
    text-align: center;
  }
  .helloBox, .nameLewandowskiBox, .sloganKodowanieBox {
    font-size: 50px;
  }
  .nameLewandowskiBox, .sloganKodowanieBox {
    font-size: 30px;
  }
  .helloLetter {
    margin: 0 1px;
  }
  .marginLetter {
    margin: 0 10px 0 0;
  }
  .moreInfo {
    font-size: 14px;
  }
  .meTxtCont {
    font-size: 14px;
    padding: 12px;
  }
  .dutiesBoxesJS1 {
    font-size: 12px;
    padding: 5px 10px;
  }
  .eduContainer {
    width: 100px;
    height: 100px;
    margin: 20px;
  }
  .eduTxt, .added {
    font-size: 11px;
  }
  .secTitle {
    font-size: 12px;
  }
  .icons {
    margin: 20px 30px 10px 30px;
    width: 40px;
  }
  .iconsName {
    font-size: 12px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .menuPunkty {
    font-size: 11px;
    display: block;
    text-align: center;
    padding: 2px 4px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .dutiesContainer {
    padding: 15px 5px 15px 5px;
  }
  .dutiesBoxesJS1 {
    margin: 10px auto;
    max-width: 95%;
  }
  .dutiesClose {
    font-size: 12px;
  }
  .packThree {
    max-width: 100%;
  }
  .skillsMainText {
    font-size: 26px;
    margin: 0 auto 40px auto;
  }
  .menuSkillsContainer {
    max-width: 100%;
  }
  .menuSkillsTabs {
    font-size: 12px;
    padding: 10px 10px;
  }
  .skillsPointContainer {
    font-size: 12px;
    margin: 15px;
  }
  .firstContainerSkills {
    font-size: 12px;
    margin: 15px auto;
  }
  .skillsImg {
    width: 25px;
    height: 25px;
  }
  @keyframes menuSkillShadow {
    0% {
      box-shadow: inset 0 0 0 0 var(--myTheme);
    }
    100% {
      box-shadow: inset 0px 0px 10px 3px transparent;
    }
  }
  .secTitle {
    left: 50%;
  }
  .icons {
    margin: 20px 20px 10px 20px;
    width: 30px;
  }
  .iconsName {
    font-size: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .infoBut {
    padding: 15px;
  }
  .copyRigths {
    padding-top: 11px;
  }
  .helloBox, .nameLewandowskiBox, .sloganKodowanieBox {
    font-size: 40px;
  }
  .nameLewandowskiBox, .sloganKodowanieBox {
    font-size: 20px;
  }
  .moreInfo {
    font-size: 12px;
  }
  .meTxtCont {
    font-size: 12px;
    padding: 10px;
  }
  .packTwo {
    width: calc(100% - 60px);
    left: 60px;
  }
  .menuCareerPoints {
    font-size: 12px;
    padding: 10px;
  }
  .companyContainer, .careerLikeIndicatorConatainer, .dutiesButton {
    font-size: 14px;
    padding: 7px 15px;
  }
  .companyPosition, .companyYears {
    font-size: 12px;
  }
  .careerLikeIndicatorConatainer {
    font-size: 10px;
  }
  .careerLikeStars {
    width: 20px;
    height: 20px;
  }
  .dutiesButton {
    font-size: 12px;
  }
  .dutiesBoxesJS1 {
    font-size: 10px;
  }
  .Three > .cont {
    overflow-x: visible;
  }
  .packThree {
    min-width: 280px;
  }
  .menuSkillsTabs {
    font-size: 10px;
    padding: 10px 4px;
    text-transform: lowercase;
  }
  .skillsPointContainer {
    font-size: 10px;
  }
  .firstContainerSkills {
    font-size: 10px;
  }
  .eduContainer {
    margin: 10px 5px;
  }
}

@media only screen and (max-width: 300px) {
  .secTitle {
    font-size: 11px;
  }
  .icons {
    margin: 20px 10px 10px 10px;
    width: 22px;
  }
  .iconsName {
    font-size: 8px;
  }
}

@media only screen and (max-width: 230px) {
  .Two {
    overflow-x: visible;
  }
}
