:root {
  --main-color: rgba(0, 162, 183, 0.8);
  --second-color: rgba(55, 226, 49, 0.8);
  --bg-col: rgba(0, 0, 0, 0.4);
  --pad-sml: 5px 12px;
  --pad-txt: 7px 20px;
  --pad-el: 20px 30px;
  --transition: 0.1s;
  --br-r: 10px;
  --br: solid 1px;
  --b-sh: 1px 2px 6px var(--bg-col);
  --f-ds: 1px 2px 6px var(--bg-col);
  --standard-txt: 14px;
  --small-txt: 12px;
  --big-txt: 18px;
}
html {
  scroll-behavior: smooth;
}

body {
  background-image: url("img/wallpapers/wp_2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 350px;
  font-size: var(--standard-txt);
}
.container {
  max-width: 1200px;
  position: relative;
  margin: 100px auto;
}
.row {
  min-width: 250px;
  margin: 0;
}
a {
  color: white;
}
a:hover {
  color: black;
  text-decoration: none;
}

.ll-app{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  margin: 50px auto;
}

.profile {
  justify-content: space-between;
  align-items: center;
  border-radius: var(--br-r);
  padding: var(--pad-el);
  background-color: var(--bg-col);
  box-shadow: var(--b-sh);
  transition: var(--transition);
}
.profile:hover {
  border: solid 3px var(--second-color);
}
#back {
  background-color: var(--main-color);
  padding: var(--pad-txt);
  border-radius: var(--br-r);
}
#back:hover {
  box-shadow: var(--b-sh);
  background-color: var(--second-color);
}
img {
  width: 40px;
}
.social {
  right: 0;
  text-align: center;
}
#fname {
  color: white;
}
img:hover {
  transform: scale(1.1);
  filter: drop-shadow(1px 2px 6px var(--bg-col));
}

.app-cont {
  border-radius: var(--br-r);
  transition: var(--transition);
}
.app-cont-first{
  margin-top: 180px;
}
.app-title {
  width: 100%;
  padding: var(--pad-el);
  position: relative;
  top: 10px;
  font-size: var(--big-txt);
  z-index: 1;
  border-bottom: 20px solid black;
  color: white;
  letter-spacing: 2px;
  transition: var(--transition);
  cursor: default;
  background-color: var(--bg-col);
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
}
.app-title:hover {
  border-bottom: 10px solid rgba(55, 226, 49, 1);
  color: var(--second-color);
}

.app-info-cont {
  background-color: var(--bg-col);
  padding: 30px 30px 0px 30px;
  border-radius: 10px 10px 0 0;
}
.info-cont {
  padding: 20px 30px 30px 30px;
  margin-bottom: 20px;
  background-color: var(--bg-col);
  border-radius: 0 0 10px 10px;
  
}

.app-descr {
  background-color: var(--main-color);
  border-radius: 10px;
  color: white;
  font-size: var(--standard-txt);
  padding: var(--pad-txt);
}
.app-link {
  padding: var(--pad-txt);
  transition: var(--transition);
  border-radius: var(--br-r);
}
.app-link:hover{
  background-color: var(--second-color);
}

.info-spec-cont {
  text-align: center;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  place-content: flex-start;
}
.tech-ovr {
  background-color: black;
  color: white;
  padding: var(--pad-sml);
  border-radius: 10px;
  margin-bottom: 10px;
  min-width: 100%;
}
.tech-des {
  color: white;
  color: white;
  margin: 5px;
  display: flex;
  place-content: center;
  place-items: center;
  padding: 5px;
  border: solid 1px;
  border-radius: 10px;
  min-width: 80px;
}

.p-txt {
  color: white;
  padding: var(--pad-txt);
}
.p-txt-api{
  max-height: 200px;
  overflow-y: auto;
}

.tech-api {
  background-color: var(--main-color);
  margin-left: 15px;
}
.tech-tag {
  display: inline-block;
  padding: var(--pad-sml);
  border-radius: var(--br-r);
  font-size: var(--small-txt);
}
.tech-tag-2{
  width: max-content;
  min-width: 0;
}